.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: rgb(117, 201, 250);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }
  

/*
.table {
    box-shadow: 0 0 10px rbga(0,0,0,0.1);
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    font-weight: bold;
}

.table thead th {
    background: #009578;
    color: #ffffff;
}

.table td,
.table th {
    padding: 10 px 20px; 
}

.table tbody tr:nth-of-type(even){
    background: #eeeeee;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #009578;
}
*/