#Directories
node_modules
Temp
.vs/

.env
/.vs/Code/FileContentIndex/17978d7c-5f58-4922-81ab-19d59de1a5b6.vsidx
/.vs/Code/FileContentIndex/18b97a3b-e30c-49aa-b80b-f5fe668eef3f.vsidx
/.vs/Code/FileContentIndex/aa65641d-d359-4b85-839c-1ff77b304369.vsidx
/.vs/Code/FileContentIndex
/.vs/Code/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
