/* possible nav bar shades of purple from darkest to lightest
    #927dec
    #aea0ed
*/

.dropdown {
    width: 100%;
    height: 50px;
    background-color: #aea0ed;

}

.dropdown .container{ 
    max-width: 1140px;
    height: 100%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.dropdown-menu:hover{
    color:black;
    background: white;
    
}


.dropdown-menu{
    text-align: center;
    color:black;
    background: white;
    position: relative;
    cursor:pointer;
}

.dropdown-menu:hover{
    color:black;
    background: white;
    
}
 
.dropdown-menu{
    width: 7rem;
    text-align: center;
    color:black;
    background: #aea0ed;
    position: relative;
    cursor:pointer;
}

.dropdown-menu:hover{
    color:black;
    background: white;
    
}

.dropdown-list{
    border: 1px solid transparent;
    position:absolute;
    left:0;
    width:100%;
    background: lightgrey;
}

.dropdown-list>li{
    border: 1px solid transparent;
}

.dropdown-list>li:hover{
    border: 1px solid white;
}



.dropdown-menu1{
   
    text-align: center;
    color:black;
    background: white;
    position: relative;
    cursor:pointer;
}

.dropdown-menu1:hover{
    color:black;
    background: white;
    
}
 
.dropdown-menu1{
    width: 7rem;
    text-align: center;
    color:black;
    background: #aea0ed;
    position: relative;
    cursor:pointer;
}

.dropdown-menu1:hover{
    color:black;
    background: white;
    
}

.dropdown-list1{
    border: 1px solid transparent;
    position:absolute;
    left:0;
    width:100%;
    background: lightgrey;
}

.dropdown-list1>li{
    border: 1px solid transparent;
}

.dropdown-list1>li:hover{
    border: 1px solid white;
}



