.main-box {
    width: 70%;
    height: 95%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    overflow-y: auto;
    box-sizing: content-box;
    background-color: var(--primary-dark-blue);
    padding: 10px 20px;
    border-radius: 10px; /* Border radius to create rounded edges */
  }
  
.page-title {
padding: 10px;
font-size: 24px;
font-weight: bold;
color: white;
display: flex;
justify-content: center;
align-items: center;
width: auto;
background-color: var(--primary-blue);
padding: 10px 20px;
border-radius: 10px; /* Border radius to create rounded edges */
}

.button-spacer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button-right {
  margin-left: 25%;

}
.button-rightest {
  margin-left: 60%;
  margin-top: -53px;
}
.button-left {
  margin-left: 0px;
  margin-right: 25%;
}