.manage-team-content-area {
    width: 100%;
    height: 80vh;
}

.left {
    width: 30%;
    float: left;
}
.right {
    width: 60%;
    float: right;
}

.form-container {
    padding: 10px;
  }
/* Full-width input fields */
.form-container input[type=email], .form-container input[type=number], .form-container input[type=text] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=email]:focus, .form-container input[type=number]:focus, .form-container input[type=text] {
background-color: #ddd;
outline: none;
}

.email-box {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}