.questionbox {
    margin: 0 auto;
    width: 80%; 
    height: auto;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 10px; /* Border radius to create rounded edges */
    color: black;
    outline: white;
    outline-width: 3;
    outline-style: inset;
}
  
.questionbox p {
    margin-top: 8px;
    background-color: white;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    float: inherit;
}

.selected-question-box {
    margin: 0 auto;
    width: 80%; 
    height: auto;
    background-color: rgb(71, 255, 68);
    padding: 16px;
    border-radius: 16px;
    color: black;
    outline: white;
    outline-style: outset;
}

.selected-question-box p {
    margin-top: 8px;
    background-color: white;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    float: inherit;
}