.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.quiz-main-box {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary-dark-blue);
  height: 90%;
  padding: 10px 20px;
  border-radius: 10px; /* Border radius to create rounded edges */
}
  
  .quiz-title {
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: var(--primary-blue);
    padding: 10px 20px;
    border-radius: 10px; /* Border radius to create rounded edges */
  }
  
  .quiz-content-box {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: var(--primary-blue);
    padding: 10px 20px;
    border-radius: 10px; /* Border radius to create rounded edges */
  }

  