/* createMentorQuiz.css */

.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    z-index: 9999; /* Ensure the popup appears on top of other elements */
    width: 70%;
    max-width: 600px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .quizinfo-content-box {
    margin-bottom: 20px;
  }
  
  .quizinfo-text-container, .cq-text-container {
    margin-bottom: 10px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .cq-content-box {
    margin-bottom: 20px;
  }
  
  .option-label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .button-spacer {
    display: flex;
    justify-content: space-between;
  }
  
  .button-left-mentor, .button-right-mentor {
    flex: 1;
    margin: 0 5px;
  }
  
  .button-right-mentor {
    margin-left: 5px;
  }
  
  /* Add styles to the form container */
  