.form-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    z-index: 9999; /* Ensure the popup appears on top of other elements */
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 900px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }