.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

.center-col {
    flex: 1;
    background: #aaa;
  }

.myComponent {
  display: block;
  height: 400px;
  overflow-y: scroll;
};
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
  }




  .td-even{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: #888888;
  }

  .td-odd{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: #aaa;
  }
  
  th {
    width: 12vw;
    color: white;
    font-weight: bold;
    background-color: var(--primary-dark-blue);
  }
  
  td {
    color: white;
    font-weight: bold;
    background-color: var(--primary-blue);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 12px;
  }
  

/*
.table {
    box-shadow: 0 0 10px rbga(0,0,0,0.1);
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    font-weight: bold;
}

.table thead th {
    background: #009578;
    color: #ffffff;
}

.table td,
.table th {
    padding: 10 px 20px; 
}

.table tbody tr:nth-of-type(even){
    background: #eeeeee;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #009578;
}
*/