.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }

.center-col {
    flex: 1;
    background: #aaa;
  }

.myComponent {
  display: block;
  height: 400px;
  overflow-y: scroll;
};
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
  }

  .td-selected{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: var(--primary-red);
  }

  .td-even{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: var(--primary-blue);
  }

  .td-odd{
    border: 2px solid black;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: #85baf6;
  }
  
  th {
    width: 12vw;
    color: white;
    font-weight: bold;
    background-color: var(--primary-dark-blue);
  }
  
  td {
    color: black;
    font-weight: bold;
    background-color: var(--primary-blue);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 12px;
  }