.navbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  height: 50px;
  padding: 0 20px;
  background-color: rgb(211, 211, 211);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar__logo {
  width: 200px;
  height: 41px;
  margin-right: 5px;
}

.navbar__title {
  font-size: 45px;
  font-weight: bold;
  color: var(--primary-red);
  padding-left: 15px;
  margin-right: auto
}