.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 125px;
  padding: 0 20px;
  background-color: rgb(97, 97, 97);
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 100;
  margin-right: 125px;
}

.navbar__logo {
  width: 100px;
  height: 20px;
  margin-left: -5px;
}

.navbar__title {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-red);
  padding-left: 15px;
  margin-right: auto
}

.nav-button{
  width: 100px;
  height: 30px;
  margin-left: -5px;
  padding: 0;
  display: inline-block;
  border-radius: 10px; /* Border radius to create rounded edges */
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff; /* White text color */
  /*background-color: #E53B3B;*/
  background-color: var(--primary-red);
  border: none; /* Remove border */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-top: 5px;
  margin-bottom: 10px;
}

.nav-button:hover {
  background-color: var(--primary-dark-blue);
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

