
body {
  background-color: #f0f0f0; /* Light gray background */
}

/* Container for the login form */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure the form container covers the entire viewport height */

}

/* Inner container for the form */
.form-inner {
  width: 400px;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Header for the login section */
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Form group for each input field */
.form-group {
  margin-bottom: 20px;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Set width to match buttons */
}


/* Input fields */
.form-group input {
  width: 100%;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}



/* Error messages */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Login button */
.login-button {
  width: 100%;
  background-color: #007bff; /* Blue background */
  border: none;
  color: white;
  padding: 12px 0; /* Adjusted padding */
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
}

.submit-button {
  display: block; /* Ensures it takes up full width */
  margin: 0 auto; /* Centers horizontally */
  padding: 12px 0; /* Adjusted padding */
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}


.login-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.casa-button,
.casa-button2 {
  background-color: red; /* Red background */
  border: none;
  color: white;
  padding: 6px 10px; /* Adjusted padding to make them smaller */
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 14px;
}


.create-account-button:hover {
  background-color: #b30000; /* Darker red on hover */
}
