* {
    box-sizing: border-box;
}

body {
    margin: 50;
}


/* main page css below*/
.maincontainer {
    margin-top: 5rem;
    position: fixed;
    top: 5rem;
    width: 80%;
    height: 50%;
}

.mainrow {
    margin-top: 1rem;
    display: flex;
    width: auto;
    list-style:none;
}
.maincol1 {
    flex: 80%;
    padding: 50px;
    background-color: white;
    width: auto;
}

.maincol1 li {
    margin-bottom: 10px;
}
