/*This document helps create the stylistic display and images for the website*/
  
  /*Style of the password and usernames*/
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  /*The Alignment of Pictures and Inserts*/
  .center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  
  #logo {
    float: left;
    width: 300px;
    padding: 10px;
  }